* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 13px;
	background-color: #fafafa;
}

.container {
	width: 90vw;
	margin: 0px 5vw 5vw;
}

.title {
	font-size: 30px;
	font-weight: bold;
	font-family: "Courier New", Monospace;
	text-shadow: #ccc 2px 2px 1px;
	padding-bottom: 5px;
}

.chat {
	border: 1px solid #ccc;
	height: 90vh;
	overflow-y: scroll;
	background-color: white;
	border-radius: 10px 0 0 0;
}

.chat div {
	margin: 10px 12px 15px;
	line-height: 20px;
}

.chat .party {
	font-weight: bold;
}

.chat .you {
	color: red;
}

.chat .other {
	color: blue;
}


.chat .question-text {
	padding-left: 3px;
	font-weight: bold;
}


.chat .ans-text{

}


.chat .correct-text{
	padding-left: 3px;
	color: green;
	font-size: 15px;
	font-weight: bold;
}


.chat .incorrect-text{
	padding-left: 3px;
	color: red;
	font-size: 15px;
	font-weight: bold;
}

.chat .ans-right{
	padding-left: 3px;
	color: green;
	font-size: 15px;
}

.chat .txt-text{
	padding-left: 3px;
	font-weight: bold;
}

.chat .help-text{
	padding-left: 3px;
	font-weight: bold;
}

.chat .finally{
	padding-left: 3px;
	font-weight: bold;
}

.chat .ans-right-text{
	padding-left: 3px;
	font-weight: bold;
	color: green;
}

.chat .ans-wrong-text{
padding-left: 3px;
}

.chat .text {
padding-left: 3px;
}

.busy {
	position: absolute;
	padding: 3px 0;
	color: #666;
	display: none;
	font-size: 11px;
}

.input {
	margin-top: 20px;
}

.input input {
	vertical-align: top;
	float: left;
	border: 1px solid #ccc;
	padding: 5px;
	margin: 0;
	border-radius: 5px;
	width: 70vw;
}


.input a {
	vertical-align: top;
	float: right;
	font-weight: bold;
	border: 1px solid #ccc;
	background-color: #efefef;
	padding: 7px 35px;
	color: black;
	text-decoration: none;
	border-radius: 5px;
}

.input a:hover {
	background-color: #ddd;
	cursor: pointer;
}

h3, ul{
	font-size: 0px;
}
